<li id="project-<%= project.id %>">
<!--  <%= link_to gravatar_for(project.user, size: 50), project.user %> 
  <span class="user"><%= link_to project.user.name, project.user %></span> -->
  <span class="titulo"><%= project.titulo %></span>
  <span class="content"><%= project.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>